/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-wcrh-custom-form {
	width: 100%;

	.form-row {
		margin-bottom: 1rem;
	}

	label {
		display: block;
		margin-bottom: 0.25rem;
	}

	.form-input {
		border: 1px var(--wp--preset--color--contrast) solid;
		background-color: var(--wp--preset--color--transparent);
		font-size: var(--wp--preset--font-size--medium);
		width: 100%;
		padding: 0.25rem 0.5rem;
		box-sizing: border-box;
	}

	textarea {
		height: 10rem;
	}

	input[type="submit"] {
		width: unset;
	}
}
